{% load static %}
<!DOCTYPE html>
<html>
	<head>
        <meta charset="utf-8">
		<link rel="stylesheet" href="https://code.getmdl.io/1.3.0/material.light_blue-indigo.min.css" />
		<link rel="stylesheet" href="https://fonts.googleapis.com/icon?family=Material+Icons">
		<link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Roboto:regular,bold,italic,thin,light,bolditalic,black,medium&amp;lang=en">
        <link rel="stylesheet" href="https://fonts.googleapis.com/icon?family=Material+Icons">
        <link rel="stylesheet" href="https://code.getmdl.io/1.3.0/material.min.css">
        <link rel="stylesheet" type="text/css" href="{% static 'styles.css' %}" />
        <meta name="viewport" content="width=device-width, initial-scale=1.0, minimum-scale=1.0">
		<script defer src="https://code.getmdl.io/1.3.0/material.min.js"></script>
		<script src="{% static 'buttonReporter/scripts/scripts.js' %}"></script>
		<title>Need2PP</title>
	</head>
	<body>
		<div class="mdl-layout mdl-js-layout mdl-layout--fixed-header">

            <div class="android-header mdl-layout__header mdl-layout__header--waterfall">
                <div class="mdl-layout__header-row">
                    <span class="android-title mdl-layout-title">
                        NEED 2 PP
                    </span>
                    <!-- Add spacer, to align navigation to the right in desktop -->
                    <div class="android-header-spacer mdl-layout-spacer"></div>
                    <!-- Navigation -->
                    <div class="android-navigation-container">
                        <nav class="android-navigation mdl-navigation">
                            <a class="mdl-navigation__link mdl-typography--text-uppercase" href="#firstFloorMap">1st Floor</a>
                            <a class="mdl-navigation__link mdl-typography--text-uppercase" href="#secondFloorMap">2nd Floor</a>
                            <a class="mdl-navigation__link mdl-typography--text-uppercase" href="#thirdFloorMap">3rd Floor</a>
                        </nav>
                    </div>
                    <span class="android-mobile-title mdl-layout-title">
                        NEED 2 PP
                    </span>
                </div>
            </div>

            <div class="android-drawer mdl-layout__drawer">
                <span class="mdl-layout-title">
                    NEED 2 PP
                </span>
                <nav class="mdl-navigation">
                    <a class="mdl-navigation__link" href="#firstFloorMap">1st Floor</a>
                    <a class="mdl-navigation__link" href="#secondFloorMap">2nd Floor</a>
                    <a class="mdl-navigation__link" href="#thirdFloorMap">3rd Floor</a>
                </nav>
            </div>

            <div class="android-content mdl-layout__content">
                <a name="top"></a>
                <div class="android-be-together-section mdl-typography--text-center">
                    <div class="logo-font android-slogan">Do you need 2 PP?</div>
                    <div class="logo-font android-sub-slogan">Choose your gender here</div>
                    <div class="logo-font android-sub-slogal">
                        <label class="mdl-switch mdl-js-switch mdl-js-ripple-effect" for="switch-1">
                              <input type="checkbox" id="switch-1" class="mdl-switch__input" checked>
                              <span class="mdl-switch__label"></span>
                        </label>
                        <label class="mdl-switch mdl-js-switch mdl-js-ripple-effect" for="switch-2">
                              <input type="checkbox" id="switch-2" class="mdl-switch__input">
                              <span class="mdl-switch__label"></span>
                        </label>
                    </div>

                    <a href="#screens">
                        <button class="android-fab mdl-button mdl-button--colored mdl-js-button mdl-button--fab mdl-js-ripple-effect">
                            <i class="material-icons">expand_more</i>
                        </button>
                    </a>
                </div>
                <div class="android-screen-section mdl-typography--text-center">
                    <a name="screens"></a>
                    <div class="mdl-typography--display-1-color-contrast">Lists of Floors</div>
                    <div class="android-screens">
                        <div class="android-screen">
                            <!--<a class="android-image-link" href="#firstFloorMap">
                                PLACEHOLDER
                            </a>-->
                            <a class="android-link mdl-typography--font-regular mdl-typography--text-uppercase" href="#firstFloorMap">1st Floor</a>
                        </div>
                        <div class="android-screen">
                            <!--<a class="android-image-link" href="#secondFloorMap">
                                PLACEHOLDER
                            </a>-->
                            <a class="android-link mdl-typography--font-regular mdl-typography--text-uppercase" href="#secondFloorMap">2nd Floor</a>
                        </div>
                        <div class="android-screen">
                            <!--<a class="android-image-link" href="#thirdFloorMap">
                            	PLACEHOLDER
                            </a>-->
                            <a class="android-link mdl-typography--font-regular mdl-typography--text-uppercase" href="#thirdFloorMap">3rd Floor</a>
                        </div>
                    </div>
                </div>

                <div id="firstFloorMap" class="android-customized-section">
                    <div class="android-customized-section-text">
                        <div class="mdl-typography--font-light mdl-typography--display-1-color-contrast">1st Floor</div>
                        <!--<p class="mdl-typography--font-light">
                            This is the 1st floor map
                        </p>-->
                      </div>

                      <div>
                        <table>
                          <tr>
                            <th>Floor</th>
                            <th>Vaccant</th>
                            <th>Total</th>
                          </tr>
                          {% for floor in floors %}
                          <tr>
                            <th>{{floor.id}}</th>
                            <th>{{floor.availableWashrooms}}</th>
                            <th>{{floor.totalWashrooms}}</th>
                          </tr>
                          {% endfor %}
                        </table>
                      </div>

                    <div class="android-customized-section-image">
                        <img src="{% static 'images/1st_floor.png' %}"alt="1st floor" height="600px">
                    </div>
                </div>

                <div id="secondFloorMap" class="android-customized-section">
                    <div class="android-customized-section-text">
                        <div class="mdl-typography--font-light mdl-typography--display-1-color-contrast">2nd Floor</div>
                    </div>
                    <div class="android-customized-section-image">
                        <img src="{% static 'images/2nd_floor.png' %}" alt="2nd floor" height="600px">
                    </div>
                </div>

                <div id="thirdFloorMap" class="android-customized-section">
                    <div class="android-customized-section-text">
                        <div class="mdl-typography--font-light mdl-typography--display-1-color-contrast">3rd Floor</div>
                    </div>
                    <div class="android-customized-section-image">
                        <img src="{% static 'images/3rd_floor.png' %}" alt="2nd floor" height="600px">
                    </div>
                </div>

                <footer class="android-footer mdl-mega-footer">
                    <div class="mdl-mega-footer--top-section">
                        <div class="mdl-mega-footer--left-section">
                            <button class="mdl-mega-footer--social-btn"></button>
                            &nbsp;
                            <button class="mdl-mega-footer--social-btn"></button>
                            &nbsp;
                            <button class="mdl-mega-footer--social-btn"></button>
                        </div>
                        <div class="mdl-mega-footer--right-section">
                            <a class="mdl-typography--font-light" href="#top">
                                Back to Top
                                <i class="material-icons">expand_less</i>
                            </a>
                        </div>
                    </div>

                    <div class="mdl-mega-footer--middle-section">
                        <p class="mdl-typography--font-light">Need2PP</p>
                        <p class="mdl-typography--font-light">Some features and devices may not be available in all areas</p>
                    </div>

                    <div class="mdl-mega-footer--bottom-section">
                        <a class="android-link mdl-typography--font-light" href="">Privacy Policy</a>
                    </div>

                </footer>
            </div>
        </div>
	</body>
</html>
